.rclib-review-preview {
  align-items: flex-start;
  display: flex;
  gap: 12px;
}

.rclib-review-preview-icon::after {
  content: "";
  position: relative;
  min-height: calc(100% - 16px);
  border-left: 2px solid var(--accent-color);
  flex-grow: 1;
}

.rclib-review-preview-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rclib-review-preview-content > h2 {
  font-size: 16px;
  line-height: 19px;
}

.rclib-review-preview-content > p {
  font-size: 14px;
  font-style: italic;
  line-height: 17px;
}

.rclib-review-preview-body > p {
  font-size: 14px;
  font-style: normal;
  line-height: 17px;
}

.rclib-review-preview-delete {
  margin-left: auto;
}

.rclib-review-voting {
  /* align-items: flex-start; */
  font-size: 14px;
  color: #9caf88;
  justify-content: space-between;
  display: flex;
  /* margin-right: auto; */
}

.rclib-review-preview-header {
  justify-content: space-between;
  display: flex;
}
