.rclib-form-submit {
  background-color: var(--accent-color);
  cursor: pointer;
}

.rclib-form-submit:enabled {
  background-color: var(--accent-color-faded);
  cursor: pointer;
}

.rclib-form-submit:disabled {
  background-color: white;
  opacity: 0.5;
  cursor: default;
}