.rclib-trip-view {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.rclib-trip-view-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rclib-trip-view-content > h3 {
  margin-bottom: 8px;
}

.rclib-trip-view-row {
  align-items: center;
  display: flex;
  gap: 12px;
}

.rclib-trip-view-row > p {
  font-size: 14px;
  line-height: 17px;
}

.rclib-trip-view-edit {
  border-radius: 20px;
  height: 40px;
  padding: 0;
  width: 40px;
}
