.react-component-lib-trip-preview {
  align-items: flex-start;
  display: flex;
  gap: 12px;
}

.react-component-lib-trip-preview-icon::after {
  content: '';
  position: relative;
  min-height: calc(100% - 16px);
  border-left: 2px solid var(--accent-color);
  flex-grow: 1;
}

.react-component-lib-trip-preview-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.react-component-lib-trip-preview-content > h2 {
  font-size: 16px;
  line-height: 19px;
}

.react-component-lib-trip-preview-content > p {
  font-size: 14px;
  font-style: italic;
  line-height: 17px;
}
