.rclib-form-label {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 12px;
  font-weight: bold;
  gap: 4px;
  line-height: 14px;
}

.rclib-form-input {
  background-color: var(--color-bg-2);
  border-radius: 4px;
  border: 1px solid var(--color-accent-2);
  box-sizing: border-box;
  color: inherit;
  min-height: 40px;
  outline: none;
  padding: 8px 12px;
  transition: border var(--speed-fast);
}

.rclib-form-input:hover, .rclib-form-input:focus {
  border-color: var(--color-accent-3);
}

.rclib-form-input::placeholder {
  color: var(--color-accent-1);
}

